# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

*.iml
*.ipr
*.iws
.idea/
*.idea
local.properties
.classpath
.project