/**
 * UI-NewsReader Settings
 */

$componentWidth: 500px;
$componentHeight: auto;

$colorWhite: #FFFFFF;
$colorWhiteSmoke: #F0F0F0;
$colorGray: #B6B3AC;
$colorBlackText: #1F2022;
$colorOrangeHover: #FE8321;

$fontUbuntu: 'Ubuntu', sans-serif;

$sizeBig: 18px;
$sizeNormal: 14px;
$sizeSmall: 12px;

/**
 * Clearfix Class
 */
.cf {
  *zoom: 1;

  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

/**
 * UI-NewsReader Styles
 */

.ui-newsreader {
  width: $componentWidth;
  height: $componentHeight;
  background-color: $colorWhite;
  box-shadow: 0 2px 3px $colorGray;
  border: 1px solid $colorGray;
  padding: 10px;
  font-family: $fontUbuntu;
  font-size: $sizeSmall;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  @extend .cf;

  .loadingImg {
    display: block;
    margin: 0 auto;
  }

  .ui-newsreader-list {
    position: relative;

    h3 {
      margin: 0 0 10px 0;
      color: $colorGray;
      font-weight: 400;
      font-size: $sizeNormal;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 5px;

        a {
          color: $colorBlackText;
          text-decoration: none;
          display: block;
          padding: 5px 10px;
          background-color: $colorWhiteSmoke;

          &:hover {
            background-color: $colorOrangeHover;
            color: $colorWhite;
          }
        }
      }
    }
  }

  .ui-newsreader-details {
    position: relative;
    @extend .cf;

    h3 {
      margin: 0 0 10px 0;
      color: $colorGray;
      font-weight: 400;
      font-size: $sizeNormal;
    }

    .details {
      @extend .cf;

      img {
        float: left;
        max-width: 130px;
        margin-right: 20px;
      }

      p {
        color: $colorBlackText;
        margin: 0 0 10px 0;
        display: block;
        height: 80px;
        overflow: auto;
      }
    }

    .smallmenu {
      @extend .cf;
      margin-top: 5px;

      a {
        display: block;
        bottom: 0;
        background-color: $colorWhiteSmoke;
        color: lighten($colorBlackText, 15);
        padding: 5px 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-decoration: none;
        width: 49%;

        &:nth-child(1) {
          float: left;
          text-align: left;
        }

        &:nth-child(2) {
          float: right;
          text-align: right;
        }

        &:hover {
          background-color: $colorOrangeHover;
          color: $colorWhite;
        }
      }
    }
  }
}